@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

* {
	margin: 0px;
	padding: 0px; 
}

body {
	font-family: 'Ubuntu';
	font-size: 15px;
	line-height: 1.42857143;
	color: #999;
	background-color: #ffffff;
}

#message {
	padding: 10px;
	text-align: center;
	background-color: #82B8D7;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

#calculator {
	margin: 120px auto;
	width: 291px;
	background-color: #FAFAFA;
	-webkit-box-shadow: 8px 13px 46px -29px rgba(0,0,0,0.25);
	-moz-box-shadow: 8px 13px 46px -29px rgba(0,0,0,0.25);
	box-shadow: 8px 13px 46px -29px rgba(0,0,0,0.25);
}

#calculator #result {
	background-color: #F3F4F6;
	color: #2E3A3F;
	font-size: 30px;
	padding: 15px;
}

#calculator #result input {
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
}

#calculator #result span {
	display: block;
	color: #2D94C9;
	font-size: 14px;
}

.nums {
	padding: 20px;
}

.nums button, .nums div  {
	background-color: #FAFAFA;
	border: none;
	outline: none;
	margin: 0;
	width: 60px;
	height: 60px;
	text-align: center;
	opacity: 0.6;
}

.nums button:hover, .submit {
	background-color: #2D94C9 !important;
	color: #fff;
}

.clear {
	background-color: rgba(0,0,0,0.15) !important;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	color: rgba(0,0,0,0.45);
}